# ignore input files
input

# ignore test files
*test*

# ignore output files
*out*
*.png
*.pbm

# ignore executables
*.exe

# ignore vim temporary files
*~

# ignore VSCode settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace